/* Fix marker icons in production */
.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-marker-shadow {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png);
}

/* Override container (optional) */
.leaflet-container {
  font-family: inherit;
}

/* Custom weather marker icons */
.weather-icon-marker {
  background: none !important;
  border: none;
  box-shadow: none;
}
