.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
frontend/.env
.mypy_cache/
# Ignore Python cache files
__pycache__/
unsloth_compiled_cache/
notebooks/lora_model/
ai_stack/llamacpp/models/
ai_stack/ollama/models/
notebooks/chroma_db/
notebooks/llama-2-7b-chat.Q4_K_M.gguf
