.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
frontend/.env
.mypy_cache/
# Ignore Python cache files
__pycache__/
unsloth_compiled_cache/
notebooks/lora_model/
